@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SmartCV.</h1>
    <p>Start by viewing saved resumes or even add your own!</p>
</div>
